<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="product(title='No Title', price='NaN', description='No description...', imgUrl='https://imageplaceholder.net/600x400')"
     class="card">
    <div class="card-body">
        <h5 class="card-title" th:text="${title}"></h5>
        <p class="card-text mb-0">Price: $<span th:text="${price}"></span></p>
        <p class="card-text" th:text="${description}"></p>
    </div>
    <img class="card-img-bottom" th:src="@{${imgUrl}}" alt="image of a product">
</div>
</body>
</html>